/*CSS para o rodapé da página*/

footer{
    background-color: var(--corDeFundo1);
    text-align: center;
    padding: 0.8em;
}

footer > p.inline{
    display: inline;
}

footer > p{
    line-height: 1.5em;
    font-weight: bold;
}

footer > a:link, footer > a:hover, footer > a:visited{
    color: var(--corFontePadrao);
}