/*CSS pertinente as formatações gerais e de tema*/

/*Variáveis Root*/
:root{
    --corDeFundo1: #000000;
    --corDeFundo2: #171717;
    --corDeFundo3: #454545;
    --corDeFundo4: #393E46;
    --corDeFundo5: #7F8487;
    --corFontePadrao: #F3F5F9;
    --fontePadrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonteDestaque: 'Courier New', Courier, monospace;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--corDeFundo2);
    color: var(--corFontePadrao);
    font-family: var(--fontePadrao);
}